.features-title{
    color: #2E2F42;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
}

.features-subtitle{
    color: #2E2F42;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.features-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
}

.features {
    padding: 120px 0;
}

.features-list {
    display: flex;
    gap: 24px;
}
 .features-item {
    width:calc((100% - 72px) / 4);
 }