.portfolio-title{
color: #2E2F42;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
margin-bottom: 72px;
}

.portfolio-subtitle {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.portfolio-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio-item {
    background-color: #FFFFFF;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio {
    padding: 120px 0;
}